.clr-form-control {
  align-items: unset;
}
.clr-select {
  width: 100% !important;
}

.bg-red {
  background-color: #f00;
}

.bg-yellow {
  background-color: #ff0;
}

.bg-green {
  background-color: #0f0;
}
